<div class="dropdown-container">
  <div *ngIf="isMultiSelect; else singleSelect" 
        (click)="toggleDropdown()" 
        class="button button-with-chips" 
        [tabindex]="selectedValues.length > 0 ? -1 : 0">
        <app-chips *ngFor="let selectedOption of selectedValues" 
                    [value]="selectedOption" 
                    (removeChip)="removeOption($event)"></app-chips>
        <input type="text" 
                [(ngModel)]="searchInput" 
                class="multiSelectInput" 
                id="search_box" 
                placeholder="Search..." 
                (input)="onSearchInputChange($event)"
                autocomplete="off"
                (keypress)="onEnterPress($event)" />  
      </div>
  <ng-template #singleSelect>
    <input type="text" 
            class="button searchInput" 
            (click)="toggleDropdown()" 
            placeholder="Select value" 
            value="{{ selectedValue}}" 
            (input)="onSearchInputChange($event)"
            autocomplete="off">
  </ng-template>
  <div *ngIf="isDropdownOpen" class="dropdown-options">
    <cdk-virtual-scroll-viewport
        itemSize="50"
        class="virtual-scroll-container">
          <div
            *cdkVirtualFor="let option of data | filterOptions: searchInput; let i = index"
            (click)="handleOptionClick(option)"
            [class.hovered]="i === hoveredOptionIndex"
            [class.selected]="isOptionSelected(option)"
            (mouseenter)="hoveredOptionIndex = i"
            (mouseleave)="hoveredOptionIndex = -1"
            class="virtual-scroll-item"
            [ngClass]="{ 'last-selected': isLastSelected(option), 'selected': isOptionSelected(option) }"
          >
          <li value="option.value">
            {{ option.text }}
          </li>
          </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
